*
{
    box-sizing: border-box;
}

header
{   
    display: block;
    height: 130px;
    background-color:rgba(0, 51, 51,0.4);
    position: relative;
    top: 7px;
    margin: 0px 5px 0px 5px;
}

.menu
{   
    position: relative;
    float: right;
    bottom: 153px;
}

ul
{
    display: block;
    list-style: none;
    text-align: left;
    padding-right: 40px;
}

li
{
    display: inline-block;
    color:whitesmoke;
    text-shadow: 3px 3px black;
    margin: 0px 20px 0px 20px;
    padding: 0px 5px 0px 5px;
}

h1
{
    position: relative;
    bottom: 107px;
    font-size: 40pt;
    margin: 0px;    
    padding: 0px 0px 0px 150px;
    color: whitesmoke;
    text-shadow: 3px 2px black;
}

.img
{
    display: inline-block;
    background-image: url('../../../../apeperia/src/img/letter-A.svg');
    background-size: contain;
    position: relative;
    padding: 0px;
    width: 4%;
    height: 100%;
    background-repeat: no-repeat;
    top: 42px;
    left: 82px;
}

h2
{
    margin: 0px;
    font-size: 25pt;
    transition: 1s;
}

h2:hover
{
    color: darkgrey;
    transition: 0.5s;
}