<header>
<div class="img"></div>
    <h1>apeperia</h1>

    <nav class="menu"> 
       <ul>
           <a href="https://gitlab.com/LuisAlipio/apeperia.git" target="_blank"><li><h2>sobre</h2></li></a>
           <a href="https://www.behance.net/gallery/55764581/Apeperia-Web-Design" target="_blank"><li><h2>blogs</h2></li></a>
           <a href="https://trello.com/b/KkOwYeCJ/treinando-angular" target="_blank"><li><h2>planos</h2></li></a>
           <a href="https://github.com/lukesol" target="_blank"><li><h2>contato</h2></li></a> 
        </ul>
    </nav>

</header>

