.container-footer
{
    margin: 0px 6px 0px 6px;
    height: 130px;
    background-color: rgba(0, 51, 51,1);
}

.img
{
    display: inline-block;
    background-image: url('../../../../apeperia/src/img/letter-A.svg');
    background-size: contain;
    position: relative;
    padding: 2%;
    background-repeat: no-repeat;
    left: 5vw;
    bottom: 18px;
}

h1
{
    position: relative;
    font-size: 40pt;
    margin: 0px;
    color: whitesmoke;
    text-shadow: 3px 2px black;
    top: 30px;
    left: 140px;
    width: 1vw;
}

a
{
    transition: .5s;
    color: #fff;
    text-decoration: none;
}

a:hover
{
    color: #fff;
    text-decoration: none;
    color: darkgrey;
    transition: 0.5s;
}

ul
{
    position: relative;
    list-style: none;
    margin: 0px;
    float: right;
    bottom: 90px;
    right: 2vw;
}

li
{
    display: inline-block;
    color:whitesmoke;
    text-shadow: 3px 3px black;
    margin: 0px 35px 0px 17px;
    padding: 0px 5px 0px 5px;
}