<div class="container-footer">

    <h1>apeperia</h1>
    <div class="img"></div>
    
    <nav>
        <ul>

            <li><h4>início</h4></li>
            <li><h4><a href="https://gitlab.com/LuisAlipio/apeperia.git" target="_blank"> sobre </a></h4></li>
            <li><h4><a href="https://www.behance.net/gallery/55764581/Apeperia-Web-Design" target="_blank"> blogs </a></h4></li>
            <li><h4><a href="https://trello.com/b/KkOwYeCJ/treinando-angular" target="_blank"> planos </a></h4></li>
            <li><h4><a href="https://github.com/lukesol" target="_blank"> contato </a></h4></li> 

        </ul>
    </nav>


</div>