.container.about
{
    height: 520px;
    position: relative;
    background-color: #e6e6e6;
    margin: 0px 6px 0px 6px;
    padding: 0px;
    min-width: 99.2%;
}

p{  
    color:black;
    font-weight: lighter;
}

.p_1, .p_3
{
    position: relative;
    top: 19px;
}

.p_2, .p_4
{
    position: relative;
    top: 29px;
}

h1
{
    position: relative;
    font-weight: bolder;
    color: black;
    text-align: center;
    top: 35px;
}

hr
{
    position: relative;
    bottom: 10px;
    margin: 1rem 42vw 1rem 42vw;
    border-top: 5px solid black;

}

h2
{
    font-weight: bold;
}

.s1
{
    position: relative;
    float: right;
    top: 76px;
    text-align: justify;
    padding: 0px 5vw 4vh 0vw;
}

.s2
{
    position: relative;
    top: 65px;
    text-align: justify;
    padding: 0px 50vw 4vh 4vw;
}


.apple
{
    background-image: url('../../../../apeperia/src/img/apple.svg');
}

.android
{
    background-image: url('../../../../apeperia/src/img/android.svg');
}

.windows
{
    background-image: url('../../../../apeperia/src/img/windows.svg');
}

.blackberry
{
    background-image: url('../../../../apeperia/src/img/blackberry-pay.svg');
}

.apple, .android, .windows, .blackberry
{
    position: relative;
    float: right;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 3%;
    right: 190px;
    top: 10px;
    margin: 0px 1vw 0px 1vw;
    transition: 0.5s;
}

.apple:hover , .android:hover , .windows:hover , .blackberry:hover
{   
    transform: translateY(-1vh);
    transition: 1s;
}