<div class="container about">

    <h1>Sobre<hr></h1>

    <section class="s1">
     <h2>Múltiplas Plataformas</h2>   
        <p class="p_1">
            Na Apeperia não temos preconceito com nenhuma plataforma, fazemos apps<br>
            fantásticos para qualquer device!
        </p>

        <p class="p_2">
            Não importa se você quer um app para Blackberry, Windows Phone, Android ou<br> 
            iOS. Nós sabemos fazer!
        </p>
    </section>

    <section class="s2">
     <h2>O que fazemos?</h2>
        <p class="p_3">No Apeperia, nós criamos aplicativos personalizados de uma maneira diferente, preocupados com o modelo
            atual em que um aplicativo é criado e entregue; a manutenção é vista como um custo extra para o cliente
            , decidimos criar um novo modelo de negocios, em que você assina nosso serviço, nós criamos o aplicativo
            e a manutenção já é inclusa no serviço, dessa maneira você não precisa se preocupar em ter o app sempre
            na versão mais atualizada.
        </p>

        <p class="p_4">Com equipes especializadas, equipes exclusivas para projetos especiais
           agora é a hora da sua empresa  ter o próprio aplicativo com qualidade.
        </p>

    </section>

    <div class="apple"></div>
    <div class="android"></div>
    <div class="windows"></div>
    <div class="blackberry" ></div>

</div>