<div class="container-contact">

    <h1>Contato<hr></h1>

    <input id="nome" type="text" value="" placeholder="&nbsp;Nome:Luis Felipe Alipio">
    <input id="email" type="text" value="" placeholder="&nbsp;E-mail:luis.souza@parnamirim.rn.gov.br">
    <input id="telefone" type="text" value="" placeholder="&nbsp;Telefone:(xx)xxxxx-xxxx">
    <input id="maior" type="text" value="" placeholder="&nbsp;Coloque a sua mensagem">
    <input class="botao" type="submit" value="Enviar">

</div>
