.container-contact
{
    margin: 0px 6px 0px 6px;
    height: 670px;
    background-color: white;
}

.botao
{
    transition: .5s ease-in-out;
    color: #fff;
    background-color: rgb(205, 133, 63);
    border-color: rgb(205, 133, 63);
    position: relative;
    right: 34.4vw;
    top: 360px;
    width: 16vw;
    height: 35px;
    border-radius: 6px;
    font-size: 14pt;
    box-shadow: 1px 1px rgba(38, 38, 38,.7);
    border: 1px solid transparent;
}

.botao:hover
{
    transition: .5s ease-in-out;
    background-color: rgb(182, 115, 47);
    border-color: rgb(182, 115, 47); 
    cursor: pointer;
}

.botao:focus
{
    outline: .4px solid rgba(182, 115, 47,.7);
}

h1
{
    position: relative;
    color: black;
    text-align: center;
    top: 35px;
    font-weight: bold;
}

hr
{
    position: relative;
    bottom: 10px;
    margin: 1rem 40.5vw 1rem 40.6vw;
    border-top: 5px solid black;
}

#nome
{
    position:relative;
    top: 60px;
    left: 28vw;
    width: 36vw;
    height: 28px;
    border: 1px solid rgba(100, 97, 87, .9);
    border-radius: 3px;
    box-shadow: 3px 3px #f2f2f2;
}

#email
{
    position:relative;
    top: 110px;
    right: 8vw;
    width: 36vw;
    height: 28px;
    border: 1px solid rgba(100, 97, 87, .9);
    border-radius: 3px;
    box-shadow: 3px 3px #f2f2f2;
}

#telefone
{
    position:relative;
    top: 10px;
    left: 28vw;
    width: 36vw;
    height: 28px;
    border: 1px solid rgba(100, 97, 87, .9);
    border-radius: 3px;
    box-shadow: 3px 3px #f2f2f2;
}

#maior
{
    position: relative;
    top: 180px;
    height: 270px;
    width: 36vw;
    right: 8vw;
    border: 1px solid rgba(100, 97, 87, .9);
    border-radius: 3px;
    box-shadow: 3px 3px #f2f2f2;
}