<app-header></app-header>
<app-principal></app-principal>
<app-about></app-about>
<app-plans></app-plans>
<app-blog></app-blog>
<app-contact></app-contact>
<app-footer></app-footer>
<app-social-media></app-social-media>