h2
{
    color: white;
    margin: 0px;
    padding-left: 120px;
    position: relative;
    top: 300px;
    font-size: 42pt;
    text-shadow: 1px 2px black;
    font-weight: bolder;
}

span
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    position: relative;
    bottom: 32px;
    font-weight: bold;
}

section
{
    height: 750px;
    margin: 0px 6px 0px 6px;
    background-image: url('../../../src/img/imagem_cabecalho.jpeg');
    background-size: cover;
    width: auto;
    background-repeat: no-repeat;
    margin-top: -180px;
    
}

p
{
    color: whitesmoke;
    text-align: left;
    position: relative;
    top: 270px;
    padding-left: 120px;
    font-size: 21px;
    text-shadow: 1px 2px black;
    font-weight: lighter;
}

button
{
    position: relative;
    float: right;
    top: 250px;
    right: 10vw;
    padding: 10px 50px 10px 50px;
    font-weight: bold;
    font-size: 15pt;
    transition: 0.8s;
    background-color: #17a2b8;
    color: whitesmoke;
}

button:hover
{
    background-color: transparent;
    color: #17a2b8;
}