<section>
  <h2> 
   Aplicativos sob medida,<br>    
   <span>para pequenas e médias empresas.</span>
  </h2>

<p>
 A apeperia é o jeito inovador de se comprar apps, você assina um<br>
 plano, nós criamos os apps e fazemos toda a manutenção!   
</p>

<a href="https://gitlab.com/" target="_blank"><button type="button" class="btn btn-outline-info">Conheça nossos planos!</button></a>
</section>

