.container-blog
{
    height: 750px;
    margin: 0px 6px 0px 6px;
    background-color: #e6e6e6;
}

.img
{
    position: relative;
    background-image: url('../../../../apeperia/src/img/ios-android.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 380px;
    width: 540px;
    top: 90px;
    left: 6vw;
}

.icone
{
    background-image:url('../../../../apeperia/src/img/reload.svg');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 23px;
    position: absolute;
    left: 52.5vw;
    top: 2134px;
}

.Iphone
{
    position: relative;
    float: right;
    left: 11vw;
    bottom: 210px;
}

.Blackberry
{
    position: relative;
    float: right;
    bottom: 71px;
    left: 47vw;
}

.Nokia-Micro
{
    position: relative;
    float: right;
    right: 6.5vw;
    bottom: 30px;
}

.iOS-Android
{
    position: relative;
    left: 6vw;
    top: 28px;
    height: auto;
    width: 36vw;
    margin: 0;    
}

h1
{
    position: relative;
    color: black;
    text-align: center;
    top: 35px;
    font-weight: bold;
}

h2
{
    position: relative;
    float: right;
    bottom: 297px;
    right: 20vw;
    color: black;
    font-weight: bold;
}

h4
{
    position: relative;
    bottom: 22px;
    font-weight: bold;
}

p
{
    text-align: justify;
    color: rgba(100, 97, 87, .9);
}

hr
{
    position: relative;
    bottom: 10px;
    margin: 1rem 43vw 1rem 43vw;
    border-top: 5px solid black;
}