<div class="container-blog">

    <h1>Blog<hr></h1>
    <div class="img"></div>
    <div class="icone"></div>
    <h2>Postagens Antigas</h2>

        <div class="Iphone">
        <h4>Resoluções de iPhones</h4>
            <p>Neste post o Felipe Babara fala sobre os tamanhos de telas de iPhone e <br>
            como esses tamanhos influênciam na criação de aplicativos para iOS.
            </p>   
        </div>

        <div class="Blackberry">
        <h4>Blackberry morreu?</h4>    
            <p>Nesse post o Rafael Silva fala sobre a história da Blackberry,sua influência <br>
            no mercado mobile e sobre o futuro. Será que o Blackberry <br>
            morreu?Descubra! 
            </p>
        </div> 
        
        <div class="Nokia-Micro">
        <h4>Nokia + Microsoft = <3 </h4>
            <p>Nesse post a Fernanda Simole fala sobre Simbian, Windows Phone e sobre <br>
               a história de como essas duas empresas começaram a trabalhar juntas <br>
               em busca da dominação mundial.
            </p>
        </div> 

        <div class="iOS-Android">
            <h4>iOS ou Android?</h4>
                <p>Qual o melhor sistema para seu aplicativo? Nesse post o Rafael Silva
                   mostra as vantagens e desvantagens de cada sistema e discute quais os 
                   públicos que utilizam cada um deles. 
                </p>   
            </div>
</div>