/* You can add global styles to this file, and also import other style files 
.container
{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}
*/

body
{
    background-color: black;
    margin: auto 40px;
}
