.container-plans
{
    background-color: rgba(0, 51, 51,1);
    height: 750px;
    margin: 0px 6px 0px 6px;
}

.unico
{
    border:none;
}

.parcelas
{
    margin: 0;
    position: relative;
    text-align: center;
    top: 45px;
    right: 2vw;
    font-size: 14pt;
    color: rgba(100, 97, 87, .9);
    font-weight: 500;
}

.juros
{
    margin: 0;
    position: relative;
    text-align: center;
    top: 38px;
    right: 2vw;
    font-size: 10pt;
    font-weight: 400;
    color: rgba(100, 97, 87, .9);
}

.vista
{
    margin: 0;
    position: relative;
    font-size: 9pt;
    text-align: right;
    bottom: 92px;
    left: 1vw;
    font-weight: 400;
    color: rgba(100, 97, 87, .9);
}

.num
{
    position: absolute;
    left: 16vw;
    bottom: 4px;
    font-size: 9pt;
    color: rgba(100, 97, 87, .9);
}

.cancel
{
    background-image:url('../../../../apeperia/src/img/x-button.svg');
}

.check
{
    background-image:url('../../../../apeperia/src/img/checked.svg');
}

.cancel, .check
{
    position: absolute;
    left: 15.7vw;
    bottom: 7px;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 4%;
}

.botao
{
    transition: .5s ease-in-out;
    color: #fff;
    background-color: rgb(205, 133, 63);
    border-color: rgb(205, 133, 63);
    position: relative;
    left: 3.2vw;
    bottom: 30px;
    width: 16vw;
    height: 35px;
    border-radius: 6px;
    font-size: 14pt;
    box-shadow: 1px 1px rgba(38, 38, 38,.7);
    border: 1px solid transparent;
}

.botao:hover
{
    transition: .5s ease-in-out;
    background-color: rgb(182, 115, 47);
    border-color: rgb(182, 115, 47); 
    cursor: pointer;
}

.botao:focus
{
    outline: .4px solid rgba(182, 115, 47,.7);
}

a, a:hover
{
    color: #fff;
    text-decoration: none;
}

h1
{
    position: relative;
    color: whitesmoke;
    text-align: center;
    top: 35px;
    font-weight: bold;
}

h3
{
    position: relative;
    font-size: 18pt;
    text-align: center;
    margin-top: 14px;
    color: floralwhite;
    font-family: Courier, monospace;
}

h4
{
    position: relative;
    text-align: center;
    margin: 43px;
    left: 5.5vw;
    font-size: 30pt;
    bottom: 50px;
    color: peru;
}

h5
{
    position: relative;
    right: 10px;
    font-size: 10pt;
    color: rgba(100, 97, 87, .9);
    top: 3px;
}

th
{   
    position: relative;
    background-color:rgba(205, 133, 63, 0.9);
    background-size: contain;
    width: 296px;
    height: 51px;
}

hr
{
    position: relative;
    bottom: 10px;
    margin: 1rem 41.5vw 1rem 41.6vw;
    border-top: 5px solid whitesmoke;
}

tr
{
    border-bottom: 2px solid rgba(100, 97, 87, .3);
}

td
{
    width: 233px;
    position: relative;
    bottom: 65px;
    left: 3vw;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

#plano-basico
{
    position: relative;
    float: left;
    top: 72px;
    left: 170px;
    padding: 0px;
    height: 490px;
    width: 296px;
    background-color: whitesmoke;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 5px 4px rgba(38, 38, 38,.7);

}

#plano-enterprise
{
    position: relative;
    float: left;
    top: 72px;
    left: 222px;
    padding: 0px;
    height: 490px;
    width: 296px;
    background-color: whitesmoke;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 5px 4px rgba(38, 38, 38,.7);
}

#plano-corporation
{
    position: relative;
    float: right;
    top: 72px;
    right: 170px;
    padding: 0px;
    height: 490px;
    width: 296px;
    background-color: whitesmoke;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 5px 4px rgba(38, 38, 38,.7);
}

#menor
{
    position: relative;
    text-align: center;
    margin: 43px;
    left: 4.6vw;
    font-size: 30pt;
    bottom: 50px;
    color: peru;
}