<div class="container-plans">

    <h1>Planos<hr></h1>

        <div id="plano-basico">
            <th><h3>Plano Básico</h3></th>
            <table>
                <p class="parcelas">12x</p> <p class="juros">s/ juros de</p>  <h4 id="menor">R$500</h4>
                <p class="vista">(valor à vista de R$6000)</p>
                <tr><td>    <h5> Aplicativos </h5> <span class="num">1</span> </td></tr>
                <tr><td>    <h5> Manutenções Programadas </h5>  <span class="num">5</span> </td></tr>
                <tr><td>    <h5> Helpdesk 24h </h5>   <div class="cancel"></div>   </td></tr>
                <tr><td>    <h5> App SEO </h5>   <div class="check"></div>      </td> </tr>
                <tr><td>    <h5> Atendente Exclusivo </h5>    <div class="cancel"></div>      </td></tr>
                <tr class="unico"><td><h5> Sistema Operacional </h5> <span class="num">1</span>  </td></tr>
            </table>

            <button type="button" class="botao"> <a href="http://gcti.parnamirim.rn.gov.br/" target="_blank">Comprar!</a> </button> 

        </div>
        
        <div id="plano-enterprise">
            <th><h3>Plano Enterprise</h3></th>
            <table>
                <p class="parcelas">12x</p> <p class="juros">s/ juros de</p>  <h4>R$1500</h4>
                <p class="vista">(valor à vista de R$18000)</p>
                <tr><td>    <h5> Aplicativos </h5> <span class="num">3</span>   </td></tr>
                <tr><td>    <h5> Manutenções Programadas </h5>  <span class="num">20</span>  </td></tr>
                <tr><td>    <h5> Helpdesk 24h </h5> <div class="check"></div>  </td></tr>
                <tr><td>    <h5> App SEO </h5>  <div class="check"></div>    </td></tr>
                <tr><td>    <h5> Atendente Exclusivo </h5>  <div class="cancel"></div>    </td></tr>
                <tr class="unico"><td><h5> Sistema Operacional </h5> <span class="num">3</span>  </td></tr>
            </table>

            <button type="button" class="botao"> <a href="http://gcti.parnamirim.rn.gov.br/" target="_blank">Comprar!</a> </button> 

        </div>

        <div id="plano-corporation">
            <th><h3>Plano Corporation</h3></th>
            <table>
                <p class="parcelas">12x</p> <p class="juros">s/ juros de</p>  <h4>R$9000</h4>
                <p class="vista">(valor à vista de R$108000)</p>
                <tr><td>    <h5> Aplicativos </h5> <span class="num">5</span> </td></tr>
                <tr><td>    <h5> Manutenções Programadas </h5>  <span class="num">&infin;</span> </td></tr>
                <tr><td>    <h5> Helpdesk 24h </h5> <div class="check"></div>    </td></tr>
                <tr><td>    <h5> App SEO </h5>  <div class="check"></div>    </td></tr>
                <tr><td>    <h5> Atendente Exclusivo </h5>  <div class="check"></div>    </td></tr>
                <tr class="unico"><td><h5> Sistema Operacional </h5> <span class="num">6</span>  </td></tr>
            </table>

            <button type="button" class="botao"> <a href="http://gcti.parnamirim.rn.gov.br/" target="_blank">Comprar!</a> </button> 

        </div>

</div>
